.footer__link {
    text-decoration: none;
    color: white;
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
}

.footer__link:hover {
    opacity: .8;
    transition: 1s;
}

@media screen and (min-width: 320px){
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 32px;
    } 

    .footer__link:nth-last-child(1) {
        margin-bottom: 0;
    }
}
 @media screen and (min-width: 768px){
    .footer__link {
        display: inline;
        font-size: 16px;
        line-height: 18px;
        margin-left: 0;
        margin-right: 18px;
     } 
}